<div class="bestsellers">
	<div class="block-title">Best sellers</div>
	<a href="" class ="card-small">
		<div class="card-image">
			<img src="images/bestsellers-mini.jpg" alt="">
		</div>
		<div class="card-description">
			<div class="card-title">Black t-shirt</div>
			<div class="card-price">$12.99</div>
		</div>
	</a>
	<a href="" class ="card-small">
		<div class="card-image">
			<img src="images/bestsellers-mini.jpg" alt="">
		</div>
		<div class="card-description">
			<div class="card-title">Black t-shirt</div>
			<div class="card-price">$12.99</div>
		</div>
	</a>
	<a href="" class ="card-small">
		<div class="card-image">
			<img src="images/bestsellers-mini.jpg" alt="">
		</div>
		<div class="card-description">
			<div class="card-title">Black t-shirt</div>
			<div class="card-price">$12.99</div>
		</div>
	</a>
</div>