@import (less) "normalize-css/normalize.css";
@import 'bootstrap/less/variables.less';
@import 'bootstrap/less/mixins.less';
@import 'bootstrap/less/grid.less';
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/responsive-utilities.less";
@import "markupus/less/main";
@import 'navbar.less';
@import 'icons.less';
@import 'variables.less';



@media all and (min-width: 768px){
	h1, .h1{font-size:ceil(@heading-font-size-1*1.2)}
	h2, .h2{font-size:ceil(@heading-font-size-2*1.2)}
	h3, .h3{font-size:ceil(@heading-font-size-3*1.2)}
	h4, .h4{font-size:ceil(@heading-font-size-4*1.2)}
	h5, .h5{font-size:ceil(@heading-font-size-5*1.2)}
	h6, .h6{font-size:ceil(@heading-font-size-6*1.2)}
}


.header{
	padding: 0 10px;
	background-color: @global-primary-background;
		@media all and (min-width: 768px){
			padding: 0 33px;
		}
	&-top{
		display: none;
		@media all and (min-width: 768px){
			width: 100%;
			padding: 6px 0;
			display: flex;
			border-bottom: 1px solid #f2f2f2;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	&-list{
		list-style: none;
		margin: 0;
		padding: 0;
		@media all and (min-width: 768px){
			display: flex;
			justify-content: space-between;
			&.left{
				display: flex;
				justify-content: space-between;
			}
		}
		&-item{
			@media all and (min-width: 768px){
				padding: 6px 15px;
				&:last-child{
					padding-right: 0;
				}
				&:first-child{
					padding-left: 0;
				}
				&.border-right{
					border-right: 1px solid #f2f2f2;
				}
			}
			& .icon-phone{
				color: #666;
				position: relative;
				font-size: 15px;
				top: 2px;
				margin-right: 8px;
			}
		}
		&-link{
			text-decoration: none;
			&.is-active, &:hover {
				color: @color-primary;
			}
			&.currency{
				margin-right: 5px;
			}
		}
	}
	.search-cart-block{
		position: absolute;
		right: 10px;
		top: 10px;
		padding-left: 5px;
		@media all and (min-width: @navbar-breakpoint){
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
					&:before{
			content:'';
			width: 1px;
			height: 12px;
			background-color: @color-dark;
			display:block;
			position: absolute;
			top: 6px;
			left: 0;
		}
		}

		&-link{
			color: @color-dark;
			text-decoration: none;
			padding-left: 20px;
			font-size: 15px;
			position: relative;
			&:hover{
				color: @color-primary;
			}
			&.shopping-cart{
				padding-right: 12px;
				display: inline-block;
			}
			& .number{
				position: absolute;
				display: block;
				padding: 2px 0 3px;
				line-height: 1;
				width: 14px;
				border-radius: 50%;
				color: #fff;
				background-color: @color-primary;
				top: -3px;
				right: 0;
				font-size: 9px;
				text-align: center;
			}
		}
	}
}

.feature{
	background-color: @color-primary;
	padding: 40px 0 25px;
	color: #fff;
	&-item{
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 30px;
		padding-left: 50%;
		margin-left: -110px;
		@media all and (min-width: 992px){
			flex-direction: row;
			text-align: left;
			padding-left: 0;
			margin-left: 0;
			&.border:before{
				content: '';
				position: absolute;
				display: block;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				width: 1px;
				height: 30px;
				opacity: 0.6;
				background-color: #fff;
			}
		}
	}
	&-icon{
		margin-right: 15px;
		font-size: 20px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #fff;
		position: relative;
		[class^="icon-"], [class*=" icon-"] {
			&:before{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		@media all and (min-width: 992px){
			margin-right: 18px;
			font-size: 30px;
			width: 55px;
			height: 55px;
		}
	}
	&-title{
		font-size: 20px;
		font-family: @font-family-condenced;
		text-transform: uppercase;
		font-weight: 700;
		@media all and (min-width: 992px){
			font-size: 30px;
		}
	}
	&-description{
		font-size: 12px;
		text-transform: uppercase;
		@media all and (min-width: 992px){
			font-size: 14px;
		}
	}
}

.logos{

	&-item{
		float: left;
		margin: 0 auto;
		}
		&-slider{
			text-align: center;
			padding: 40px 0 30px;
		}
		&-img{
		opacity: 0.4;
		&:hover{
			opacity: 0.8;
		}
	}
}

.about{
	background-color: #272727;
	padding: 50px 0 0;
	&-title{
		font-family: @font-family-secondary;
		font-size: 16px;
		line-height:1.25;
		font-weight: 700;
		color: #ccc;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&-text{
		margin-bottom: 30px;
	}
}

.informations{
	&-list{
		margin: 0;
		padding: 0;
		list-style: none;
		margin-bottom: 30px;
	}
	&-link{
		color:#428bca;
		line-height: 1.847;
		text-decoration: none;
		margin-left: 10px;
	}
	.icon-chevron-right{
		font-size: 8px;
		color: #aaa;
	}
}

.contact{
	&-list{
		margin: 0;
		padding: 0;
		list-style: none;
		margin-bottom: 30px;
	}
	&-item{
		font-weight: 300;
		b{
			font-weight: 700;
		}
	}
}

.newsletter{
	padding: 20px 0;
	border-top: 1px solid #383838;
	.about-title{
		@media all and (min-width: 480px){
			margin: 0;
			margin-right: 15px;
		}
	}
	& .socials{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 230px;
		margin: 0 auto;
		margin-top: 10px;
		&-link{
			text-decoration: none;
			color: #666;
			font-size: 18px;
			&:hover{
				color: #fff;
			}
		}
	}
	.subscribe{
		@media all and (min-width: 480px){
			display: flex;
			align-items: center;
		}
	}
	.form-group{
		flex: 1 1 auto;
		margin-bottom: 20px;
		.button{
			display:block;
			width: 100%;
		}
		@media all and (min-width: 480px){
			margin-bottom: 0;
			.button{
				display: inline-block;
				width: auto;
			}
		}
	}
}
.footer-bottom{
	background-color: #222;
	&-holder{
		text-align: center;
		min-height: 126px;
		padding: 18px 0;
		@media all and (min-width: 768px){
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: left;
			width: 100%;
		}
	}
	.payment{
		display: flex;
		justify-content: center;
		&-link{
			display: block;
			height:25px;
			width: 40px;
			position: relative;
			background: url(../images/pay-sprite.png) no-repeat;
			margin-left: 10px;
			&.mastercard{
				background-position: -50px 0;
			}
			&.paypal{
				background-position: -99px 0;
			}
			&.western{
				background-position: -148px 0;
			}
			&.american{
				background-position: -197px 0;
			}
			&:hover{
				&:before{
					content:'';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					right:0;
					left:0;
					background: rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
	.copyrihgt{
		margin-bottom: 30px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.hook-button() {
	text-transform: uppercase;
	&-primary{
		background-color: @color-primary;
	}
};

.hook-form-group() {

	@media all and (min-width: 480px){
	&.inline{
			display: flex;
		}
	
	}
};