<header class="header">
	<div class="header-top">
		<ul class="header-list left">
			<li class="header-list-item phone border-right">
				<span class="icon-phone"></span>
				<span>+421 964 335 12</span>
			</li>
			<li class="header-list-item  border-right">
				<a href="" class="header-list-link currency is-active ">€</a>
				<a href="" class="header-list-link currency">£</a>
				<a href="" class="header-list-link ">$</a>
			</li>
			<li class="header-list-item"><a href="" class="header-list-link">English</a></li>
		</ul>
		<ul class="header-list">
			<li class="header-list-item"><a href="" class="header-list-link">My Account</a></li>
			<li class="header-list-item"><a href="" class="header-list-link">Wishlist</a></li>
			<li class="header-list-item"><a href="" class="header-list-link">Checkout</a></li>
			<li class="header-list-item"><a href="" class="header-list-link">Login</a></li>
		</ul>
	</div>
	<nav class="navbar">
		<div class="navbar-header">
			<a href="#" class="navbar-brand"><img src="images/logo.png" alt="Minovate"></a>
			<a href="#navbar-collapse" class="navbar-toggler">
				<span class="ico-bar"></span>
				<span class="ico-bar"></span>
				<span class="ico-bar"></span>
			</a>
			<div class="search-cart-block">
			<a href="" class="search-cart-block-link"><span class="icon icon-search"></span></a>
			<a href="" class="search-cart-block-link shopping-cart">
				<span class="icon-shopping-cart"></span>
				<span class="number">5</span>
			</a>
		</div>
		</div>
		<div class="navbar-collapse" id="navbar-collapse">
				<ul class="navbar-nav">
					<li class="navbar-item is-active"><a href="index.html" class="navbar-link ">Home</a></li>
					<li class="navbar-item"><a href="about.html" class="navbar-link">Woman</a></li>
					<li class="navbar-item"><a href="pricing.html" class="navbar-link">Man</a></li>
					<li class="navbar-item"><a href="contact.html" class="navbar-link">Kids</a></li>
					<li class="navbar-item"><a href="contact.html" class="navbar-link">Hot</a></li>
					<li class="navbar-item"><a href="contact.html" class="navbar-link">Pages</a></li>
				</ul>
		</div>
	</nav>
</header>