<div class="filters-sidebar">
	<div class="availability">
		<div class="block-title">Availability</div>
		<div class="availability-item">
			<input type="checkbox" id = "not-available" class="availability-input">
			<label for="not-available" class="availability-label">Not Available</label>
		</div>
		<div class="availability-item">
			<input type="checkbox" id = "coming" class="availability-input">
			<label for="coming" class="availability-label">Coming to stock</label>
		</div>
		<div class="availability-item">
			<input type="checkbox" id = "in-stock" class="availability-input">
			<label for="in-stock" class="availability-label">In Stock</label>
		</div>
	</div>
	<div class="price">
		<div class="block-title">Price</div>
		<input type="text" id="price-slider" name="example_name" value="" data-min="0" data-max="150" data-from ="36" data-to="89" />
	</div>
</div>