@import 'variables.less';

.hook-button() {
	text-transform: uppercase;
	&-primary{
		background-color: @color-primary;
	}
	&-add{
		text-transform: uppercase;
		background: transparent;
		border: 1px solid transparent;
		padding: 3px 6px;
		color: #ccc;
		font-size: 11px;
		line-height: 1;
		&:hover{
			color: @color-primary;
			border: 1px solid @color-primary;
		}
	}
	&-up{
		width: 40px;
		height: 40px;
		background: rgba(0, 0, 0, 0.5);
		position: fixed;
		bottom: 111px;
		right: 29px;
		padding: 0 12px;
		font-size: 20px;
		color: #fff;
		z-index: 100;
		outline-color: transparent;
	}
};